.container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 22px;
  position: relative;
}

.ball {
  color: #4ce6a6;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.ball::before,
.ball::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  left: 0px;
  background-color: #4ce6a6;
}

.ball::before {
  width: 14px;
  height: 14px;
  background-color: #4ce6a6;
}

.ball::after {
  width: 14px;
  height: 14px;
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.9);
    opacity: 0;
  }
}
